html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.top-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo {
    font-weight: bold;
    font-size: 1.25rem;
}


.top-bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.top-left {
    flex: 1;
    max-width: 530px;
}

button.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
}

.top-bottom-section img {
    height: 200px;
    width: 400px;
    flex-shrink: 0;
}

header,
.top-bottom-section {
    max-width: 1000px;
    width: 100%;
}

header,
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}

ul a {
    text-decoration: none;
    color: #F9FAF8;
}

.info-section h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.info-images {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info-image {
    width: 200px;
    color: #606060;
}

.info-image img {
    width: 200px;
    height: 200px;
    border: 5px solid #4f92ff;
    border-radius: 20px;
}

.info-image p {
    margin-top: 5px;
    text-align: center;
}