html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.top-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 30px;
}

.logo {
    font-weight: 1000;
    font-size: 1.25rem;
}


.top-bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    gap: 30px;
}

.top-left {
    flex: 1;
}

button.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 6px 32px;
    border: none;
    border-radius: 8px;
}

button.sign-up:hover {
    background-color: #5f9cff;
    cursor: pointer;
}

.top-bottom-section img {
    height: auto;
    max-height: 250px;
    max-width: 500px;
    object-fit: none;
    flex-shrink: 0;
    box-shadow: 0px 0px 3px black;
    flex: 1;
}

h1 {
    font-size: 48px;
    font-weight: 1000;
    margin: 0;
}

.top-left p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    color: #E5E7EB;
}

header,
.top-bottom-section {
    max-width: 1000px;
    width: 100%;
}

header,
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}

ul {
    padding: 0;
}
ul a {
    text-decoration: none;
    color: #F9FAF8;
}

ul a:hover {
    color: #f9faf8b9;
}

.info-section {
    margin: 0 30px;
    padding-bottom: 72px;
}

.info-section h2 {
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.info-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.info-image {
    width: 200px;
    color: #606060;
}

.info-image img {
    width: 200px;
    height: 200px;
    border: 4px solid #4f92ff;
    border-radius: 20px;
    object-fit: cover;
}

.info-image p {
    margin-top: 5px;
    text-align: center;
}

.quote-section {
    background-color: #E5E7EB;
}

.quote-area {
    max-width: 800px;
    margin: auto;
    padding: 50px 30px;
}

.quote-text {
    font-size: 34px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    position: relative;
    top: 25px;
}

.quotee {
    font-size: 22px;
    font-weight: 1000;
    text-align: right;
    margin-right: 30px;
    position: relative;
}

.action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 30px;
}

.action-box {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    border-radius: 6px;
    max-width: 800px;
    width: 100%;
    padding: 45px 100px;
}

.action-text .action-top-text {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.action-text p {
    color: #E5E7EB;
    margin: 5px 0 0 0;
}

.action-box .sign-up {
    border: 2px solid white;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 30px 0;
    text-align: center;
}