html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.top-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 30px;
}

.logo {
    font-weight: 1000;
    font-size: 1.25rem;
}


.top-bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    gap: 30px;
}

.top-left {
    flex: 1;
}

button.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 6px 32px;
    border: none;
    border-radius: 8px;
}

.top-bottom-section img {
    height: auto;
    max-height: 250px;
    max-width: 500px;
    object-fit: none;
    flex-shrink: 0;
    box-shadow: 0px 0px 3px black;
    flex: 1;
}

h1 {
    font-size: 48px;
    font-weight: 1000;
    margin: 0;
}

.top-left p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    color: #E5E7EB;
}

header,
.top-bottom-section {
    max-width: 1000px;
    width: 100%;
}

header,
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}

ul {
    padding: 0;
}
ul a {
    text-decoration: none;
    color: #F9FAF8;
}

.info-section {
    margin: 0 30px;
}

.info-section h2 {
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.info-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.info-image {
    width: 200px;
    color: #606060;
}

.info-image img {
    width: 200px;
    height: 200px;
    border: 5px solid #4f92ff;
    border-radius: 20px;
}

.info-image p {
    margin-top: 5px;
    text-align: center;
}